In [ ]:
#Q2.Using platform module Write a Python program to get the Python version you are using
#Ans:-

import platform

print("Python version:", platform.python_version())

Python version: 3.8.10

In [ ]:
#Q3.Using datetime module Display the current date and time
#Ans:-

import datetime
current_datetime=datetime.datetime.now()
print('Current date and time is',current_datetime)

Current date and time is 2023-02-15 12:07:35.719083

In [ ]:

#Q4. 
#Ans:-
print((help(sum)))

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

None

A docstring is a string literal that appears as the first statement in a module, class, or function definition. It is used to document the purpose, usage, and behavior of the module, class, or function.
In Python, the help() function can be used to print the docstring of any built-in function.

In [ ]:
#Q5. Write a Python program to print the calendar of a given month and year.Note : Use 'calendar' module.
#Ans:-

import calendar
year=2023
month=2

cal=calendar.monthcalendar(year,month)
print(calendar.month_name[month],year)
print('Mo Tu Wd Th Fr Sat Su')

for week in cal:
    week_str = ""
    for day in week:
        if day == 0:
            week_str += "   "
        else:
            week_str += f"{day:2d} "
    print(week_str)

February 2023
Mo Tu Wd Th Fr Sat Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28

In [ ]:
#Q6.Print a random number using random module
#Ans:-
import random
random_number=random.randint(1, 10)
print("Random Number is:", random_number)

Random Number is: 6

In [ ]:
#Q7.Write a Python program to calculate the sum of three given numbers, if the values are equal then return three times of their sum.
#Ans:-

def sum_or_triple(x, y, z):
    if x == y == z:
        return 3 * (x + y + z)
    else:
        return x + y + z

sum_or_triple(1,2,3)

6

In [ ]:
sum_or_triple(4,4,4)

36

In [ ]:
#Q8.To print different kinds of variables and their types like float,int,string,boolean
#Ans:-

float_variable=1.2
integer=23
string="Jayesh"
Boolean=True

print("Float variable is:",float_variable,type(float_variable))
print("Integer Variable is :",integer,type(integer))
print("String Variable is:",string,type(string))
print("Boolean variable is:",Boolean, type(Boolean))

Float variable is: 1.2 <class 'float'>
Integer Variable is : 23 <class 'int'>
String Variable is: Jayesh <class 'str'>
Boolean variable is: True <class 'bool'>

In [ ]:
#Q9.Write a program which can add two complex numbers.
#Ans:-

complex_number1=5+6j
complex_number2=2+3j

result= complex_number1 + complex_number2
print("Addition of ", complex_number1,complex_number2 , "is:",result)

Addition of  (5+6j) (2+3j) is: (7+9j)

In [ ]:
#Q10.Write a program to swap two numbers without using third variable
#Ans:-

# Define two variables
x = 10
y = 20

# Print the initial values of x and y
print(" Value of x and y before swap:")
print("x =", x)
print("y =", y)

# Swap the values of x and y without using a third variable
x = x + y
y = x - y
x = x - y

# Print the new values of x and y
print(" value of x and y after swap:")
print("x =", x)
print("y =", y)

 Value of x and y before swap:
x = 10
y = 20
 value of x and y after swap:
x = 20
y = 10

In [ ]:
#Q11.Write a program to print message on single line  print(Hello),print(World)
#Ans:-
print("Hello", end=" ")
print("World")

Hello World

In [ ]:
#Q12.List out the different types of type casting in python (e.g. int to float)
#Ans:-
# Integer to str
# Integer to float
# Integer to string
# String to Integer

In [ ]:
#Q13. Program to calculate area of circle by using math module function 
#Ans:-
import math

radius = float(input("Enter the radius of the circle: "))

# A = pi*r^2
area = math.pi * radius**2

print("The area of the circle is:", area)

In [ ]:
#Q14. Assume suitable value for Ramesh's basic salary. His dearness allowance is 40% of basic salary and house rent allowance is 20% of basic salary. Calculte his gross salary (basic+dearness+hra=gross)

#Ans:-
# assume Ramesh's basic salary is 50000
basic_salary = 50000

# calculate dearness allowance and house rent allowance
da = 0.4 * basic_salary
hra = 0.2 * basic_salary

# calculate gross salary
gross_salary = basic_salary + da + hra

# print the result
print("Ramesh's basic salary is:", basic_salary)
print("Ramesh's dearness allowance is:", da)
print("Ramesh's house rent allowance is:", hra)
print("Ramesh's gross salary is:", gross_salary)

In [ ]:
#Q15.Take input of distance between two cities in Km convert this value in meters, feet, inches and centimeters
#Ans:-
distance_km = float(input("Enter the distance between two cities in kilometers: "))

# convert distance to meters
distance_m = distance_km * 1000

# convert distance to feet
distance_ft = distance_km * 3280.84

# convert distance to inches
distance_in = distance_km * 39370.1

# convert distance to centimeters
distance_cm = distance_km * 100000

# print the result
print("Distance in meters:", distance_m)
print("Distance in feet:", distance_ft)
print("Distance in inches:", distance_in)
print("Distance in centimeters:", distance_cm)

In [ ]:
#Q16. Display float number with 2 decimal places using print().
#Ans:-
num = 3.14159
# Display the float number with 2 decimal places
print("The float number is: {:.2f}".format(num))